/*CS-5630/6630
University of Utah
Assignment #3
Dylan Zwick
u0075213*/

#fixed-header {
    position:fixed;
    width: 100%;
    height: 10%;
    top: 0;
}

#school-search {
    position: relative;
    width: 800px;
    float: left;
}

#map {
    float: left;
    padding-top: 5%;
    width: 80%;
    height: 500px;
}

#map-layout {
    width: 100%;
    height: 100%;
    //width: 1000px;
    //height: 500px;
}

#fixed-list {
    float: right;
    padding-top: 5%;
    width: 20%;
    height: 88%;
}

#fixed-footer {
    position: fixed;
    width: 100%;
    height: 8%;
    bottom: 0;
}

.info-cell {
    width: 10%;
    height: 100%;
    float: left;
    background-color: yellow;
}

.footer-cell {
    width: 5%;
    height: 100%;
    float: left;
    background-color: blue;
}

.name-cell {
    width: 16%;
    height: 100%;
    float: left;
}

.value-cell {
    width: 5%;
    height: 100%;
    float: left;
}

.filter {
    height: 100%;
    float: right;
    padding-right: 5%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    //height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

header {
    padding: 0.5em;
    clear: right;
    text-align: left;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 100;
    background: #eeeeff;
}

main {
    width: 100%;
    height: 100px;
    position: relative;
}

#main-layout {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

#school-data {
    width: 15%;
    height: 100%;
    float: left;
}

.school-info {
    height: 400px;
}

#similar-schools {
    position: relative;
    white-space: nowrap;
}

#data-dropdown {
    position: absolute;
    z-index: 1;
}

/*#map, #sliderLayout {
    position: relative;
    width: 50%;
    float: left;
}*/

/*#map-layout {
    position: relative;
}
*/

#closeschools {
    width: 20%;
    float: right;
}

#school-list {
    white-space: normal;
}

.top-school {
    fill: red;
    opacity: .8;
}

.regular-school {
    r: 2;
    fill: black;
}

.school-hover {
    r: 6;
    background-color: steelblue;
    fill: green;
    opacity: 1 !important;
}

.school-hover-similar {
    r: 4;
    fill: green;
    opacity: .5;
}

.map-line {
    stroke: black;
    stroke-width: 1;
}

.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}

.legend-element {
    width: 15px;
    height: 15px;
}

.team {
    fill: #fee8c8;
}

.team-html {
    background-color: #fee8c8;
}

.host {
    fill: #2b8cbe;
}

.gold {
    fill: #FFD700;
    opacity: .8;
    stroke: #252525;
    stroke-width: 2px;
}

.silver {
    fill: #d9d9d9;
    opacity: .8;
    stroke: #252525;
}

.selected {
    fill: #d20a11;
}

/*Map grid style*/

.grat {
    fill: none; /*Added to this file for the assignment.*/
    stroke: grey;
    stroke-width: 1px;
    opacity: .1;
}

@font-face {
    font-family: 'dusha';
    src: url('assets/dusha.ttf');
}

@font-face {
    font-family: 'aller';
    src: url('assets/aller.ttf');
}

h1 {
    position: relative;
    font-family: 'dusha';
    color: #d20a11;
    float: left;
}

h2 {
    font-family: 'dusha';
    color: #d20a11;
    padding-bottom: 0px;
    margin-top: 3px;
    margin-bottom: 0px;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

* {
    font-family: 'aller';
}

#logo {
    float: left;
    height: 100px;
}

#details {
    float: left;
    width: 200px;
    padding: 0.5em;

    border-width: 1px;
    border-color: #d9d9d9;
    border-right-style: solid;
}

#plot-selector {
    float: left;
    margin-bottom: 5px;

}

#barChart {
    float: left;
    width: 500px;
    margin-right: 20px;

}

#world-map {
    float: left;
    border-width: 1px;
    border-color: #d9d9d9;
    border-left-style: solid;
}



#links > line {
    stroke: rgb(216, 216, 216);
}

#xAxis path,
#yAxis path {
    fill: none;
    stroke: black;
}

#xAxis text,
#yAxis text {
    font-size: 14px;

}

#barChart {
    float: left;
    margin-right: 20px;

}

.brush .selection {
    fill-opacity: 1;   
    fill: red;
}

.similar-school {
    fill: steelblue;
    r: 8;
    opacity: 1;
}

.selected-school {
    fill: red;
    r: 10;
    opacity: 1 !important;
}

path {
    fill: none;
    stroke-width: 1px;
    stroke: #222;
}

/* Styles that clean up the layout;
 * you can ignore these: */

/*div {*/
/*display: inline-block;*/
/*border: 1px solid lightgray;*/
/*margin: 10px;*/
/*}*/

/*div,*/
/*span {*/
/*padding: 10px;*/
/*}*/